<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1> Create a Basketball Team!</h1>
   <form method="POST" action="/team">
      <div>
      <label>Team Name:</label>
      <input type="text" name="Team Name">
      </div>
      
      <div>
      <label>Coach:</label> 
      <input type="text" name="Coach">
      </div>
      
      <div> 
      <label>Point Guard:</label>
      <input type="text" name="Point Guard">
      </div>
      
      <div>
      <label>Shooting Guard:</label>
      <input type="text" name="Shooting Guard">
      </div>
      
      <div>
        <label>Small Forward:</label>
        <input type="text" name="Small Forward">
      </div>
      
      <div>
        <label>Power Forward:</label>
        <input type="text" name="Power Forward">
      </div>
      
      <div>
        <label>Center:</label>
        <input type="text" name="Center">
      </div>
      
      <div>
        <input type="submit">
      </div>
    </form>
   
 </body>
</html>


